* {
	margin: 0;
	padding: 0;
}

.header {
    background: orange;
  }
 /* ==============================================  Menu  ======================================= */
.menu {
    background: lightblue;
  }
 /* ==============================================  Side  ======================================= */
.side {
    background: lightgreen;
    float:left;
    min-height: calc(100vh - 80px);
    width:160px;
  }

.radio {
      margin-left: 25px;
      margin-top: 8px;
  }
#switchTest_Real {
    background: #caeaff; 
    width:160px;
    height:50px;
    display:block;
}

.sideButton {
    background: lightgrey;
    width:140px;
    height:30px;
    margin-left: 10px
}

#firstBtn {
    margin-top: 10px;
}

 /* ==============================================  Tab1  ======================================= */

#tab1 {
    background: lightgrey;
    min-height: calc(100vh - 80px);
    display: none; 
}

table {
  border-collapse: collapse; 
  width: 80%; 
  border: 2px solid red; 
  
} 

th, td {
	border: 1px solid lightgrey;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-size:10pt;
    font-family:Verdana;
}

tr:nth-child(2n+1){
    background:#eee;
    }
    
tr:nth-child(2n){
    background:#ddd;
    }

#colName, #colFxt {
    text-align: left;
}
#colQty {
    font-weight: bold;
}

th {
    background: #f7edde;
}

table tr:not(:first-child){
	cursor: pointer;transition: all .15s ease-in-out;
}
table tr:not(:first-child):hover{background-color: #f5f798;}

 /* ==============================================  Tab2  ======================================= */

#tab2 {
    background: lightsalmon;
    min-height: calc(100vh - 80px);
    display: none; 
}

 /* ==============================================  Tab3  ======================================= */

#tab3 {
    background: burlywood;
    min-height: calc(100vh - 80px); 
    display: none; 
}

 /* ==============================================  Tab4  ======================================= */

#tab4 {
    background: red;
    min-height: calc(100vh - 80px); 
    display: none; 
}

 /* ==============================================  Footer ======================================= */

.footer {
    background: magenta;
    clear: both;
  }

